<!-- vista1.component.html -->
<h2>Agregar Estudiante</h2>

<div>
  <label>Cédula:</label>
  <input type="text" [(ngModel)]="estudiante.cedula" />
</div>

<div>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="estudiante.nombre" />
</div>

<div>
  <label>Apellido:</label>
  <input type="text" [(ngModel)]="estudiante.apellido" />
</div>

<div>
  <label>Asignatura:</label>
  <input type="text" [(ngModel)]="estudiante.asignatura" />
</div>

<div>
  <label>nota1:</label>
  <input type="text" [(ngModel)]="estudiante.nota1" />
</div>

<div>
    <label>nota2:</label>
    <input type="text" [(ngModel)]="estudiante.nota2" />
  </div>


<button (click)="agregarEstudiante(estudiante)">Agregar</button>

<hr />

<h2>Listado de Estudiantes</h2>

<div>
  <label>Filtros:</label>
  <select [(ngModel)]="filtro">
    <option value="todos">Todos</option>
    <option value="aprobados">Aprobados</option>
    <option value="reprobados">Reprobados</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Asignatura</th>
      <th>Nota 1</th>
      <th>Nota 2</th>
      <th>Promedio</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let est of estudiantes | filtro : filtro">
      <td>{{ est.cedula }}</td>
      <td>{{ est.nombre }}</td>
      <td>{{ est.apellido }}</td>
      <td>{{ est.asignatura }}</td>
      <td>{{ est.nota1 }}</td>
      <td>{{ est.nota2 }}</td>
      <td>{{ est.promedio }}</td>
      <td>{{ est.estado }}</td>
    </tr>
  </tbody>
</table>

<button routerLink="/vista2">Mostrar Promedio Total</button>
